
.certificate-container {
    
    position: relative;
    height: 842px;
    
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 595px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  padding: 30px;
  background-image:url('../images/watermarkImage.png');
  background-repeat:no-repeat;

  background-size: 400px 400px;
  background-position: center;
  }
  .certificate-container::before {
   
 background-color:rgba(0,0,0,0.25);
  }
 
  
  .header-container {
 margin-top: 5px;
 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  }
 .header-container img{
    opacity: 40%;
 } 
  p{
    font-size: 13px;
    font-weight: 400;
  }
.footer p{
color: #817f7fd9;
line-height: 0;
font-size: 12px;
}
.footer{
  height: 10vh;
display: flex;
align-items: center;
justify-content: space-between;
}

li{
  font-size: 13px;
 padding-left: 10px;
  font-weight: 400;
  list-style: none;
}

  @media print {
    body * {
      visibility: hidden;
    }
    .certificate-container,
    .certificate-container * {
      visibility: visible;
    }
    .certificate-container {
      margin-top: 0;
      margin-bottom: 0;
    }
    .header-container  {
      margin-top: 0;
    }
  }
  .submit-button {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(31, 167, 198, 0.879);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: blue;
  }
  input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #817f7f;
    font-size: 18px;
    outline: none;
    font-style: italic;
    font-weight: 200;
  } 


  h2{
      font-size: 1em;
      text-decoration: underline;
      text-align: center;
  }
  .certificate-container h4{
    font-size: 15px;
    text-align: end;
    margin-right: 30px;
    font-weight: 400;
  }