
.certificate-container2 {
    
    position: relative;
  width: 852px;
    height: 609px;
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  /* align-content: space-between; */
  padding: 0px;
  background-image:url('../images/A4-8.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  gap:20px;
  flex-wrap: wrap;
}


  .student-name{
    display: flex;
    justify-content: center;
height: 110px;
position: relative;

align-items: flex-end;
    width: 100%;

  }
  .description{
    position: relative;
 bottom: 30px;
    font-family: 'Lexend', sans-serif;
    
    font-weight: 580;
font-size: 1.2rem;
  }
  .time{
    position: relative;
       font-family: 'Lexend', sans-serif;
       bottom: 70px;
       font-weight: 580;
   font-size: 1.2rem;
  }
  b{
    font-weight: 900;
    font-style: bold;
  }
  
  .certificate-container::before {
 background-color:rgba(0,0,0,0.25);
  }
 
  
  .header-container {
    position: relative;
    top:140px;
  display: flex;
flex-direction: column;
  align-items: center;
  align-content: first baseline;
  }
  

.footer p{
color: #817f7fd9;
line-height: 0;
font-size: 12px;
}
.footer{
  height: 10vh;
display: flex;
align-items: flex-end;
justify-content: space-between;

}

li{
  font-size: 13px;
 padding-left: 10px;
  font-weight: 400;
  list-style: none;
}

  @media print {
    body * {
      visibility: hidden;
    }
    .certificate-container,
    .certificate-container * {
      visibility: visible;
    }
    .certificate-container {
      margin-top: 0;
      margin-bottom: 0;
    }
    .header-container  {
      margin-top: 0;
    }
  }
  .submit-button {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(31, 167, 198, 0.879);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: blue;
  }
  input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #817f7f;
    font-size: 18px;
    outline: none;
    font-style: italic;
    font-weight: 200;
  } 
h5{
  font-weight: 500;
}

  h2{
      font-size: 1em;
      text-decoration: underline;
      text-align: center;
  }
  .certificate-container h4{
    font-size: 15px;
    text-align: end;
    margin-right: 30px;
    font-weight: 400;
  }


  .download-button{
    
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(198, 95, 31, 0.879);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .end{
    display: flex;
    background-color:red;
   flex-direction: column;
   position: relative;
   bottom:60px ;
   right: 220px;
  height: 90PX;
  
  }
.container_body{
background-color:rgb(15, 15, 15);
display: flex;
justify-content: space-around;
gap: 50px;
flex-wrap: wrap;
padding: 50px;


}
 