body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

scrollbar-width: thin;
  scrollbar-color: #000000 #F5F5F5;
  
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
  
}

.caption{
  width:550px;
 position: relative;
 left: 80px;
 top: 50px;
 color: #089ca1e5;
 font-family: 'Prata', serif;
}

.title:hover{
  color: rgb(62, 134, 202);
}
.img-container{
  display: flex;
  width: 400px;
  height:400px;
gap:120px;
  position: relative;
  top: 30px;
}
img{
  margin: 20px;
  opacity: 0.8;
 
}

.title{
  display:block;
  color: rgb(0, 0, 0) ;
  font-weight: 800;
cursor:  pointer;
position: relative;
left:70px;  
text-decoration: none;
font-size: 2rem;
}
.App{


margin: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.register-dropdown {
  position: relative;
}
.login-container{
  display: flex;

justify-content: space-between;
  align-items: center;
 margin: 0px;
  height: 20vh;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}
.login-reg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  position: relative;
  bottom:280px;

}

.register-button {
  padding: 0.5rem;
  border: 2px solid #FFA500;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #070707;
  cursor: pointer;

}

.register-button:hover {
  border-color: #3ed1c5c9;

}

.dropdown {
  position:absolute;
  top:98%;
  left:0;
  right:0;
  z-index:1;
border-radius: 10px;

  border: 1px solid #cabd06;
  border-top: none;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 0;
margin: 0;

}
.dropdown:hover{
  transform: scale(1.05); 
}
.dropdown{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.links {
  width:100%;
  padding: 0.3rem;
  width: 10rem;
  border: none;
text-decoration: none;
color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
margin: 0;
  transform: scale(1);
  cursor: pointer;
}

.links:hover {
  background-color: #5fbbb3da;
  color: #e0fbfc;
  transform: scale(1.15);

}
.certificate-form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(212, 212, 212, 0.267);
}
.login{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
 
  align-items: center;
 align-content: space-between;
}



.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
select,
input[type='date'],input[type='email'],input[type='password']{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  border:1px solid black;
  
}

button[type='submit'] {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #FFA500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;

}

button[type='submit']:hover {
  background-color: #503351;
  color:#ffffff;
}

.certificate-container {
  margin-top: 20px;
  height: 842px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 595px;
}

.header-container {
  text-align: center;
}

.header-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

@media print {
  body * {
    visibility: hidden;
  }
  .certificate-container,
  .certificate-container * {
    visibility: visible;
  }
  .certificate-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header-container h2 {
    margin-top: 0;
  }
}
.submit-button {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(31, 167, 198, 0.879);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.submit-button:hover {
  background-color: blue;
}
input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  outline: none;
  font-style: italic;
  font-weight: 200;
} 




 .signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
height:100%;


}

button {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

button:hover {
  transform: scale(1.1);
}


 .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  }
  
  /* .form-input {
  margin-top: 20px;
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  } */
  
  /* .submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(13, 147, 165);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  } */
  
  .message {
  margin-top: 20px;
  font-size: 16px;
  color: green;
  }
  .form {
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 1em;
  }
  
  /* .form-input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
  } */
  .input-field {
    width: 300px; 
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
 
  
  .form-message {
    margin-top: 1em;
    font-size: 1em;
    color: rgb(12, 10, 76);
  }